@charset "UTF-8";

/*Mobile First*/

/*CORES*/
:root{
    --cor01:#a2d6df;
    --cor02:#497173;
    --cor03:#1a3536;
    --cor04:#121713;
}

/*GERAIS*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor03);
}

/*MAIN*/
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

/*SECTION*/
section#login{
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;  

    background-color: white; 
    width: 280px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 

    transform: translate(-50%, -50%);
    transition: width .7s, height .7s;
    transition-timing-function: ease;       /*Suaviza a transição*/  
}
section#login > div#imagem{
    display: block;
    background: var(--cor02) url(../imagens/mar.jpg) no-repeat center bottom;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}
section#login > div#formulario > h1{
    text-align: center;
    font-size: 1.5em;
}
section#login > div#formulario > p{
    margin: 10px 0px;
    font-size: 0.9em;
}

/*FORM*/
form{
    text-align: center;
}

form > div.campo{
    width: 100%;
    height: 35px;
    margin: 5px 0px;
    border: 2px solid var(--cor02);
    border-radius: 8px;
    background-color: var(--cor02);
}

form i{
    vertical-align: middle;
    color: var(--cor04);
}

div.campo i{
    font-size: 2em;   
}

div.campo > input{
    width: calc(100% - 40px);
    height: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 6px;
    background-color: rgb(215, 215, 215);
    outline: none;
}

::placeholder{
    font-family: monospace;
    font-style: italic;
    color: var(--cor03);
}

div.campo > input:focus-within{         /*IMPORTANTE*/
    background-color: white;
}

form > input[type=submit]{  /*IMPORTANTE*/ 
    display: block;
    width: 100%;        /*100% em relação ao container*/
    height: 35px;
    background-color: var(--cor02);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: var(--cor03);
}

form > a.botao{
    display: block;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid var(--cor02);
    padding-top: 4px;
    background-color: white;
    color: #121713;
    text-decoration: none;
}

form a.botao:hover{
    border-color: var(--cor01);
    background-color: var(--cor01);
}

form a.botao:hover i{
    color: white;
}


/*Sempre colocar os transforms e transitions por último*/




